{% extends 'base_kit.html' %}

{% block title %}
    <title>Wishlist</title>
{% endblock %}

{% block stylesheet %}
    <link href="{{ url_for('static', filename='css/kit/vertical-nav.css') }}" rel="stylesheet" />
{% endblock %}

{% block bodylabel %}<body class="shopping-cart sidebar-collapse">{% endblock %}
  {% block content %}
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{ url_for('static', filename='img/bg2.jpg') }}');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Wishlist</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="card card-plain">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-shopping">
              <thead>
                <tr>
                  <th class="text-center"></th>
                  <th>Product</th>
                  <th class="th-description">Color</th>
                  <th class="th-description">Size</th>
                  <th class="th-description">Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for prod in wishlist %}
                    <tr>
                        <td>
                            <div class="img-container">
                                <img src="{{ url_for('static', filename='assets/'+prod[11]+'.jpg') }}" alt="...">
                            </div>
                        </td>
                        <td class="td-name">
                            <a href="{{ url_for('showproduct', product_id=prod[0], user_id=user_id) }}">{{ prod[1] }}</a>
                        <br />
                        <small>by {{ prod[5] }}</small>
                        </td>
                        <td>{{ prod[4] }}</td>
                        <td>{{ prod[2] }}</td>
                        <td>{{ prod[3] }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'kit_footer.html' %}
{% endblock %}
